* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh!important;
  width: 100vw!important;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #434856;
  height: 100vh;
  width: 100vw!important;
}

nav {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  background-color: #1E1F26;
  color: white;

  a {
    color: white;
    text-decoration: none;
    transition: color 0.2s linear, font-size 0.2s linear;
  }

  a:hover {
    color: #ff2e63;
    font-size: 1.55rem;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 95vh;

  .code {
    border-top: 0.5vh solid #434856;
    border-right: 1rem solid #434856;

    h3 {
      background-color: #1A1B1F;
      color: #dadce5;
      padding: 1vh 2vw;
    }

    textarea {
      resize: vertical;
      background-color: #1D1E22;
      color: white;
      outline: none;
      border: none;
      width: 30vw;
      height: 25.5vh;
      padding: 0.5rem;
    }
  }

  #output {
    background: rgb(65,70,84);
    background: radial-gradient(circle, rgba(65,70,84,1) 0%, rgba(46,50,59,1) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    h4 {
      padding: 0 1rem;
      text-align: center;
    }

    iframe {
      width: 71vw;
      height: 92vh;
      border: none;
    }
  }
}
@media (max-width: 1024px) {
  main {
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr;
    height: 95vh;
    overflow: hidden;

    .code {
      display: flex;
      flex-direction: row;
      border-right: none;
      border-bottom: 1rem solid #434856;

      textarea {
        resize: horizontal;
        outline: none;
        border: none;
        border-right: 1.35vw solid #434856;
        color: white;
        outline: none;
        width: 30.3vw;
        height: 25vh;
      }
    }

    #output {
      background: radial-gradient(circle, rgba(65,70,84,1) 0%, rgba(46,50,59,1) 100%);
      color: white;
      height: 64vh;

      iframe {
        width: 100vw;
        border: none;
      }
    }
  }
}
@media (max-width: 500px) {
  body {
    font-size: 70%!important;
  }
}
